In [10]:
n = 1
for i in range(10):
    s = ''
    for i in range(10):
        s = s + str(n) + "\t"
        n +=1
    print(s)

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

In [12]:
n = 1
for i in range(10):
    s = ''
    for i in range(10):
        s = s + str(n).rjust(3) + "\t"
        n +=1
    print(s)

  1	  2	  3	  4	  5	  6	  7	  8	  9	 10
 11	 12	 13	 14	 15	 16	 17	 18	 19	 20
 21	 22	 23	 24	 25	 26	 27	 28	 29	 30
 31	 32	 33	 34	 35	 36	 37	 38	 39	 40
 41	 42	 43	 44	 45	 46	 47	 48	 49	 50
 51	 52	 53	 54	 55	 56	 57	 58	 59	 60
 61	 62	 63	 64	 65	 66	 67	 68	 69	 70
 71	 72	 73	 74	 75	 76	 77	 78	 79	 80
 81	 82	 83	 84	 85	 86	 87	 88	 89	 90
 91	 92	 93	 94	 95	 96	 97	 98	 99	100

Int型  
`  "{0:04d}".format(1)  

> '0001 

因みに以下のようにすると空白で揃えられます。  
  
` "{0:4d}".format(1)  
  
> '   1'  
{0:04d}→{0:4d}とするだけですね。  

Float型  
` ('%03.3f' % 15)  
>'15.000'  
  
03.3f→３桁まで表示をして、小数点も3以下表示をする  
（全体で３桁以下の場合は全て表示をする）   
  
String型  
先ほどの表示よろしく、揃えてみる。  

` "{0:10s}".format("abcd")    
 'abcd      '    
その他色々な揃え方、右寄せ左寄せ、中央そろえ、ゼロ埋め  

` s = "python"  
 s.ljust(10)  

> 'python    '  

` s.rjust(10)  

> '    python'  

`s.center(10)  
>  '  python  '  

` s.zfill(10)  

> '0000python'

In [15]:
s = int(input("売り上げ："))
if s >= 100:
    print("売り上げは好調です。")
else:
    print("売り上げはいまいちです。")
print("処理を終了します")

売り上げ：50
売り上げはいまいちです。
処理を終了します